body{
    margin: 0;
    padding: 0;
    
}
.menu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    align-items: center;
}
.company-logo{
    margin-right: 800px;
    font-size: 40px;
}
.menu-items{
    display: flex;
}
.menu-items a{
    text-decoration: none;
    color: white;
}
.menu-items li{
    list-style: none;
    font-size: 30px;
    margin: 5px;
    padding: 40px;
    margin-top: 20px;
}
.menu-items li:hover{
    color: #9b6723;
    cursor: pointer;
}
.banner-container{
    display: flex;
    background-color: black;
    color: white;
}
.banner-description{
    margin-left: 30px;
}
.banner-left{
    margin: auto;
}
.banner-text{
    font-size: 20px;
    color: red;
}
.banner-left h1{
    font-size: 60px;
    font-weight: bolder;
}
.banner-btn{
    margin-top: 40px;
    padding: 20px 40px;
    background-color: tomato;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    
}
.banner-btn a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.banner-btn a:hover{
    color:#238d9b;
}
.baner-imag img{
    height: 800px;
    width: 800px;
}
.titale2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}
.section-two{
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.card1{
    width: 400px;
    height: 300px;
    border: 1px solid lightslategray;
    border: none;
    text-align: center;
    box-shadow: 15px 15px 26px gray;
    padding: 25px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .10ms;
}
.card1:hover{
    border: 3px solid #238d9b;
    margin-top: -40px;
    transition: .10ms;
}
.gym-icon{
    width: 120px;
}
.lorem{
    text-align: justify;
}
.about-container{
    display: flex;
    background-color: black;
    color: white;
    
}
.about-left{
    width: 700px;
}
.workout-image{
    display: flex;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 40px;
}


.workout-image img{
    height: 700px;
    width: 450px;
    transform: skewy(-15deg);
}
.about-2{
    margin-left: 20px;
}


.about-right{
    display: flex;
    margin-left: 380px;
    margin-top: 200px;
}
.about-text h1{
    text-align: center;
}
.about-right h1{
    color: red;
    font-size: 20px;
}
.about-right p{
    font-size: 35px;
    font-weight: 700;
}
.about-right ul{
    font-size: 20px;
}